@model UserViewModel;
@{
    ViewData["Title"] = "Usuários";
}

<h1 class="text-center display-4">Usuários Cadastrados</h1>
<div>
    <button class="btn btn-primary">Novo</button>
    @if (Model.UserList.Count() > 0)
    {
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">OPÇÕES</th>
                </tr>
            </thead>
            @foreach (var item in Model.UserList)
            {
                <tbody>
                    <tr>
                        <td scope="row">
                            @item.RegisterId
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <button class="btn btn-info">Editar</button>
                            <button class="btn btn-danger">Remover</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center w-25 m-auto" role="alert">
            Nenhum usuário cadastrado!
        </div>
    }
</div>
