@model RegisterUserViewModel;
@{
    ViewData["Title"] = "Registrar Usuário";
}
<h1 class="text-center display-4">Cadastrar Usuário</h1>
<div style="max-width: 500px; margin: 0 auto; min-height: inherit">
    <form asp-action="Register" enctype="application/x-www-form-urlencoded" method="post" class="d-flex flex-column">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="email" class="form-control">
            <p><span asp-validation-for="Email" class="text-danger"></span></p>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" type="text" class="form-control">
            <p><span asp-validation-for="Name" class="text-danger"></span></p>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
    @if (!string.IsNullOrWhiteSpace(@Model?.Error))
    {
        <br />
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                @Model.Error
            </div>
        </div>
    }
</div>